<configuration>
	<property name="LOG_PATH" value="${catalina.base:-.}/logs/tspas" />
	<property name="LOG_FILE_NAME" value="elastic-search-logback" />
	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender>
	<appender name="LogFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
				class="net.logstash.logback.encoder.LogstashEncoder"/>
		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LogFile" />
	</root>
</configuration>